.purple {
    color: purple;
  }
.retrieve-main{
    background-color: rgb(7,11,30);
    height: 100vh;
}
.retrieve-sub{
    display:flex;
    flex-direction: column;
}
.retrieve-sub a{
    margin-left: 26px;
    
}
.retrieve-sub h2{
    color: rgb(108, 11, 121);
    margin-left: 20px;
}
.table-container{
    margin-top: 20px;
    height: 34em;
    background-color: white;
    padding-block: 15px;
    margin-inline: 20px;
   
}
.table-table-bordered{
    margin-inline: 20px;
    margin-left: 200px;
}

.column {
    padding: 20px; /* Adjust the padding value as needed */
    
}

.table-table-bordered {
    border-collapse: separate;
    border-spacing: 10px; /* Adjust the spacing value as needed */
}
.search-container {
    text-align: center;
    margin-bottom: 20px;
  }


  .search-container input {
    width: 500px; /* Adjust the width value as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search-container input:focus {
    outline: none;
    border-color: #5b728a;
  }
